.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/debug
/app/src/release
/build.gradle
/app/build.gradle
/app/src/main/res/values/google_maps_release_key.xml
