.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/res/values/google_maps_api_key.xml
/app/src/debug/res/values/google_maps_debug_api_key.xml
/release
/app/app-release.apk
/app/src/release/res/values/google_maps_api.xml
/app/build.gradle
/build.gradle