<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.cromer.jason.cshelper"
    android:configChanges="keyboardHidden|orientation|screenSize"
    android:screenOrientation="portrait"
    android:versionCode="8"
    android:versionName="1.12.3"
    android:windowSoftInputMode="stateHidden" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cs_helper_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Logic.CustomFragmentManager"
            android:label="@string/title_activity_fragment_manager" >
        </activity>
        <activity android:name=".Activities.AsciiChartActivity" >
        </activity>
        <activity
            android:name=".Activities.DataContainerActivity"
            android:label="@string/title_activity_data_container" >
        </activity>
    </application>

</manifest>
