<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jason.healthcaremobileappdemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FragmentManagement.CustomFragmentManager"
            android:label="@string/title_activity_fragment_manager" >
        </activity>
        <activity
            android:name=".Activities.LoginScreen"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name=".Activities.ForgotPasswordResetScreen"
            android:label="@string/title_activity_forgot_password_reset_screen" >
        </activity>
        <activity
            android:name=".Activities.ExerciseVideo"
            android:label="@string/title_activity_exercise_video" >
        </activity>
        <activity
            android:name=".Activities.HomePage"
            android:label="@string/title_activity_home_page" >
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
